html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
}  
:root {
  --color: #ff1241;  
  --bg: #001930;   
  --grad1: linear-gradient(180deg, rgba(248,105,173,1) 0%, rgba(254,153,107,1) 100%);
  --grad2: linear-gradient(180deg, rgba(92,70,241,1) 0%, rgba(164,149,252,1) 100%);
  --grad3: linear-gradient(180deg, rgba(26,201,187,1) 0%, rgba(47,161,226,1) 100%);
  --grad4: linear-gradient(180deg, rgba(245,253,111,1) 0%, rgba(60,192,144,1) 100%);
  --grad5: linear-gradient(180deg, rgba(253,144,111,1) 0%, rgba(255,197,4,1) 100%);
  --grad6: linear-gradient(180deg, rgba(12,17,255,1) 0%, rgba(4,199,255,1) 100%);
  --xcursor: url(https://i.imgur.com/GSfMhIM.png), auto; 
}   
  
.grid {
  position: relative;
  margin: auto;
  width: 1600px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
h1,h2,h3,h4,h5,h6,i,p,li,button,a,span,small,img,section {
  position: relative;
  margin: 0;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
}
button i {
  margin-right: 10px;
}
a {
  text-decoration: none;
}
input, textarea {
  outline: none;
}
hr {
  border: none;
}
* {
  box-sizing: border-box;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  display:block;
  width:11px;
  border-radius: 40px;
} 
::-webkit-scrollbar-track {
  background: #ddd;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 40px;
} 
.close {
  position: absolute;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  transform: scale(1.2,1.2);
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #333;
  transition: all 0.3s;
}
.close::before {
  position: absolute;
  top: 0px;
  left: 9px;
  transform: rotate(-42deg);
  content: '|';
}
.close::after {
  position: absolute;
  top: 0px;
  left: 12px;
  content: '|';
  transform: rotate(42deg);
}
.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
}

nav {
  position: fixed;
  top: 0;  
  width: 100%;
  text-align: center;
  background: #fff;
  z-index: 900;
}
nav .sidebtn {
  font-size: 20px;
  top: 15px;
  padding: 10px;
  float: left;
  cursor: pointer;
}
.menu {
  text-align: center;
  display: inline;
  position: relative;
}
.menu h6 {
  display: inline-block;
  margin: auto 15px;
  font-size: 13px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
  padding: 25px 10px;
  transition: all 0.3s;
  text-transform: uppercase;
}
.menu h6 i {
  margin-right: 7px;
}
.menu:hover h6 {
  color: #bbb;
  transform: scale(0.95)
}
.menu a:hover h6 {
  color: #000;
  transform: scale(1.05)
}
.menu a:hover hr {
  opacity: 1;
}
.menu:hover h6 hr {
  bottom: -1px;
}
.menu a:hover hr {
  bottom: 1px;
}
.menu .activemenu {
  color: #000;
}
.menu a:first-child h6 hr {
  opacity: 1;
}  
.menu h6 hr {
  position: absolute; 
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #000;
  margin: 0;
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.2s;
}
nav label {
  float: right; 
  position: relative; 
  top: 18px;
}
nav input {
  border: none;
  border-radius: 40px;
  background: #f1f1f1;
  padding: 10px 20px;
  width: 200px;
  transition: all 0.3s;
}
nav input:focus {
  width: 220px;
}
nav input::placeholder {
  color: #aaa
}
nav .profile {
  position: relative;
  float: right;
  top: 18px;
  cursor: pointer;
  padding-bottom: 10px;
} 
nav .profile img {
  width: 35px;
  height: 35px;
  margin-left: 20px;
  border-radius: 100%;
}
.profmenu {
  position: absolute;
  cursor: auto;
  transform: translateY(5px);
  right: -15px;
  padding: 15px 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  transition: all 0.3s;
  text-align: left;
  min-width: 200px;
  display: none;
  opacity: 0;
}
.profmenu h6 {
  font-size: 13px;
  display: inline-block;
  margin: 10px 0;
  padding: 2px 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
.profmenu h6:hover {
  color: var(--color);
  padding-left: 15px;
} 
.darkmode, .addmoviebtn {
  float: right;
  font-size: 22px;
  color: #555;
  margin-right: 30px;
  top: 25px;
  cursor: pointer;
  transition: all 0.2s;
} 
.darkmode:hover {
  color:var(--color);
}
.addmoviebtn:hover {
  color: var(--color)
}

.menuslide {
  position: fixed;
  top: -100vh;
  width: 100%;
  height: 100vh;
  background:#fff;
  z-index: 800;
  transition: all 0.3s;
  box-shadow: 0 1px 15px rgba(0,0,0,0.4);
  text-align: center;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4,1fr)
}
.menuslide::-webkit-scrollbar {
  display: none;
} 
.menubox {
  position: relative;
  width: 240px;
  height: 240px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  color:#fff;
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s;
}
.menubox h4 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -20px;
  opacity: 0;
  transition: all 0.3s;
} 
.menubox:hover {
  transform: scale(1.05);
}
.menubox:hover h4 {
  opacity: 1;
  margin-top: 20px;
}
.menuslide a:nth-of-type(1) .menubox {
  background: var(--grad1)
}
.menuslide a:nth-of-type(2) .menubox {
  background: var(--grad2)
}
.menuslide a:nth-of-type(3) .menubox {
  background: var(--grad3)
}
.menuslide a:nth-of-type(4) .menubox {
  background: var(--grad4)
}
.menuslide a:nth-of-type(5) .menubox {
  background: var(--grad5)
}
.menuslide a:nth-of-type(6) .menubox {
  background: var(--grad6)
}

.feature {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.featurebg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.feature::after {
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.6) 0%, rgba(255,255,255,0) 100%);
  z-index: 5;
}
.featurebg img {
  width: 100%;
  height: 100%;
}
.feature h1 {
  color: #fff;
  font-weight: 500;
  font-size: 45px;
  z-index: 10;
}
.feature small {
  display: block;
  margin: 20px 0;
  z-index: 10;
}
.feature small span {
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
}
.feature small i {
  margin: auto 2px;
  font-size: 15px;
}
.feature small i.fas {
  color: orange;
}
.feature small i.far {
  color: #fff;
}
.feature p {
  font-size: 14px;
  width: 500px;
  color: #eee;
  line-height: 1.6;
  margin-bottom: 10px;
  z-index: 10;
}
.feature button {
  padding: 15px 25px;
  margin: 20px; 
  margin-left: 0;
  font-size: 15px;
  color: #fff;
  z-index: 10;
} 
.feature .watchnowbtn:hover {
  filter: brightness(85%);
} 
.feature .watchnowbtn {
  background: var(--color);
}
.feature .watchlist {
  background: none;
  border: 1px solid #fff;
}
.feature .watchlist:hover {
  background:rgba(255,255,255,0.4)
}  
.page .box {
  margin-bottom: 50px;
}
  
.home {
  position: relative;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.sectiontitle {
  margin-top: 0;
  font-size: 19px; 
  color: #555;
  font-weight: 600;
}
.sectiontitle hr {
  position: relative;
  height: 1px;
  background: #ddd;
  width: 80%;
  display: inline-flex;
  top: 4px;
  margin-left: 20px;
}
.movierow {
  position: relative;
  display:block;
  width: 100%;
  margin: 10px auto;
  padding: 60px  0;
  overflow-x: scroll;
  box-sizing: content-box;
  transform: scale(1);
  will-change: transform;
  user-select: none;
  transition: all 0.2s;
}  
.movierow:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.innerrow {
  position: relative;
}
.movierow .box:first-child:hover {
  margin-left: 30px;
}
.movierow::-webkit-scrollbar, .imageslider::-webkit-scrollbar {
  display:none;
} 
.box {
  position: relative;
  width: 220px;
  height: 320px;
  margin: auto 30px;
  margin-left: 0;
  cursor: pointer;
  float: left;
  transition: all 0.3s;
  border-radius: 10px;
} 
.page .box {
  float: none;
  display: inline-block;
}  
.pagegrid {
  display: grid; 
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.pagegrid .box {
  margin: 40px 0;
} 
.box .fa-clock:hover, .box .fa-imdb:hover { 
  color: #fff;
}
.page .starring {
  display: none;
}
.box:hover {
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
  transform: scale(1.1);
}
.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.boxcover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0; 
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  transition: all 0.3s;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover .boxcover {
  opacity: 1;
}
.boxcover .playbtn {
  position: relative;
  font-size:50px;
  color: #fff;
  transform: scale(0.9);
  transition: color 0.2s, transform 0.4s;
  transition-delay: 0.1s;
}
.boxcover .playbtn:hover {
  color: var(--color);
}
.boxinfo {
  position: absolute;
  bottom: 85px;
  cursor: default;
  width: 100%;
  height: 50px;
  padding: 20px;
  text-align: left;
  transition: all 0.5s;
}
.box:hover .boxinfo {
  bottom: 65px;
}
.box:hover .playbtn {
  transform:scale(1.02);
}
.boxinfo h4 {
  color: #fff;
  font-size:15px;
  font-weight: 500;
}
.boxinfo h5 {
  color: #aaa;
  font-size: 13px;
  font-weight: 500;
}
.boxinfo i {
  color: #fff;
  font-size:18px;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 8px;
}  
.boxinfo small {
  color: #fff;
  font-size:16px;
  margin-right: 10px;
}
.boxinfo small span {
  font-size: 15px;
  top: -1px;
} 
.boxinfo i:hover {
  color: var(--color)
}
.boxinfo .fa-imdb {
  font-size: 19px;
} 

.featureplaybtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 80px;
  color: #fff;
  z-index: 100;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}
.featureplaybtn:hover {
  color: var(--color)
}
.moviepage .featureplaybtn {
  display: inline-block;
  width: 90px;
}
.moviepage .featdescript {
  display: none;
}
.home .starring {
  display: none;
}
.moviepage .starring {
  display: block;
}
.moviepage .starring {
  color: #eee;
  font-size: 14px;
}
.moviepage .starring span {
  display: block;
  font-weight: 600; 
  color: #fff;
  margin-bottom:5px;
  font-size: 15px;
}
 
.onemoviegrid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1.2fr;
  grid-column-gap: 40px;
}
.oneimage img {
  width: 210px;
  height: 320px;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}
.oneimage small {
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
  color: #555;
}
.oneimage a {
  color:#555;
}
.onemoviegrid h5 {
  color: #333;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40px;
}
.onemoviegrid h5 hr {
  position: relative;
  height: 1px;
  background-color: #333;
  display: inline-flex;
  width: 80%;
  margin-left: 20px;
  top: 3px;
}
.onemoviemedia h5 hr {
  width: 70%;
}
.onemovieinfo p {
  font-size: 14px;
  width: 90%;
  font-weight: 500;
  color: #777;
  margin-bottom: 50px;
}   
.onemovieinfo h6 {
  float: left;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin: 10px auto;
  margin-right: 50px; 
  width: 120px;
}
.onemovieinfo h6 span {
  text-align: center;
}
.onemovieinfo img {
  display: block;
  width: 90px;
  height: 90px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 100%;
}
.onemoviemedia {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.onemoviemedia iframe {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
  border-radius: 10px;
} 
.lightboxcont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0,0,0,0.9);
  z-index: 999;
  text-align: center;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: var(--xcursor);
}  
.lightboxcont .lightbox {
  position: relative;
  width: 70%; 
  height: 70vh;
  transform: scale(0.9);
  transition: all 0.3s;
}
.lightboxcont .lightbox iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.lightboxcont .close {
  position: absolute;
  top: 50px;
  font-size: 30px;
  color: #aaa;
}
.lightboxcont .close:hover {
  color: #fff;
}

.imageslider {
  position: relative;
  width: 100%;
  height: 200px;
  cursor: pointer;
  display:block;
  overflow-x: scroll;
  box-sizing: content-box;
  transform: scale(1);
  will-change: transform;
  user-select: none;
  transition: all 0.2s;
}
.imagesliderinner {
  position: relative;
  width: 1000px;
  height: 100%;
}
.imageslider:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.imageslider img {
  float: left;
  width: 280px;
  height: 100%;
  margin: auto 20px;
  margin-left: 0;
  border-radius: 10px;
} 

.notifcont {
  position: fixed;
  bottom: 5px;
  left: 20px;
  transition: all 0.3s;
  opacity: 0;
  transform: scale(0.9);
  display: none;
  background: rgba(0,0,0,0.95);
  min-width: 400px;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 1px 20px rgba(0,0,0,0.5);
  color: #eee;
  z-index: 999;
  cursor: pointer;
}
.notifcont p {
  font-size: 14px;
  color: #ddd;
  display: inline-block;
} 
.notifcont .fa-circle-notch {
  margin-right: 20px;
}
.notifcont .close {
  position: relative;
  margin-left: 20px;
  top: 6px;
  font-size: 20px;
  color: #aaa;
}
 
.searchcont {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255,255,255,0.9);
  display: none;
  opacity: 0;
  transform: scale(0.9);
  backdrop-filter: blur(10px);
  z-index: 999;
  padding: 30px;
  text-align: center;
  transition: all 0.2s;
} 
.searchcont input {
  width: 60%;
  border: none;
  text-align: center;
  font-size:35px;
  margin-top: 50px;
  background: none;
  padding-bottom: 20px;
  color: #111;
  border-bottom: 2px solid #ccc;
  transition: all 0.3s;
}
.searchcont input:focus {
  border-bottom: 2px solid #111;
}
.searchcont .close {
  position: absolute;
  top: 30px;
  right: 60px;
  font-size: 32px;
  transform: scaleX(1.2);
  padding: 8px;
} 
.searchcont .box img {
  left: 0; 
}
.searchgrid {
  position: relative;
  overflow: scroll;
  padding: 60px;
  height: 85%;
  text-align: center;
}
.searchgrid .box {
  position: relative;
  margin: 50px 30px;
  opacity: 0; 
  display: none;
  transform: scale(0.9);
} 
.searchgrid::-webkit-scrollbar {
  display: none;
}
.searchgrid .emptymsg {
  color: #555;
  font-weight: 500;
  font-size: 20px;
}
.addmoviecont {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 900;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--xcursor);
  transition: all 0.3s;
  opacity: 0;
  display: none;
} 
.closeaddmovie {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
} 
.addmovie {
  position: relative;
  width: 60%;
  height: 60%;
  background: rgba(255,255,255,0.9);
  border-radius: 10px;
  cursor: auto;
  padding:30px;
  transform: scale(0.9);
  transition: all 0.3s;
  z-index: 2;
}
.inneraddmovie {
  position: relative;
  height: 81%;
  overflow-y: scroll;
  margin-top: 15px;
  padding-bottom: 30px;
}
.inneraddmovie::-webkit-scrollbar {
  display: none;
}
.addmovie h4 {
  text-align: center;
  font-size: 26px;
  font-weight:600;
}
.addmoviegrid {
  position: relative;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 60px 40px;
}
.addmoviegrid label {
  position: relative;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}
.addmoviegrid label i {
  position: absolute;
  font-size:18px;
  padding: 16px 14px;
  height: 100%;
  color: #fff;
  background: var(--color);
} 
.addmoviegrid > h6 {
  font-size: 13px;
  color: #555;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s;
}
.addmoviegrid > h6:hover {
  color: var(--color)
}
.addmoviegrid > h6 i {
  margin-left: 15px;
} 
.addmoviegrid input {
  padding: 15px 10px;
  padding-left: 55px;
  background: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
.addmoviegrid input:focus{
  border: 2px solid var(--color);
}
.addmoviegrid input::placeholder {
  color:#aaa;
}
.addmoviegrid input[type="checkbox"] {
  height:30%;
  width: 30%;
  position: absolute;
  right: 50px;
  right: 0;
  margin: auto;
  margin-top: 17px; 
}
.addmoviegrid input[type="checkbox"] + small {
  font-size: 12px;
  top: 15px;
  left:60px;
  color: #aaa;
}
.addmovie button {
  margin-top: 13px;
  background: var(--color);
  padding: 15px 25px;
  border-radius: 10px;
  color: #fff;
}
.addmovie button:hover {
  filter: brightness(90%);
}
.filterdiv {
  position: relative;
  margin-top: 30px;
}
.filterdiv h5 {
  display: inline-block;
  font-size: 15px;
  color: #999;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
} 
.filterdiv h5 span {
  margin-left: 10px;
  left: 0;
  font-size: 20px;
  top: 2px;
  transition: left 0.3s;
}
.filterdiv h5:hover {
  color: var(--color)
}
.filterdiv h5:hover span {
  left: 5px;
}
.filterdiv h5 i {
  margin-right: 10px;
  top: 1px;
}
.filterdiv h6 {
  display: inline-block;
  margin: auto 10px;
  font-size: 14px;
  color: #aaa;
  font-weight: 600;
  padding: 3px 10px;
  border: 2px solid #aaa;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  border-color: #eee
} 
.filterdiv h6:hover {
  color: #fff;
  background: var(--color);
  border-color: var(--color);
}
.filterdiv h6 i {
  margin-left: 5px;
}
.filterdiv small {
  color: #333;
  font-weight: 500;
  margin-right: 10px;
  margin-left: 50px;
}
.filterdiv input {
  position: relative;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 7px 10px;
  transition: all 0.3s;
  width: 200px;
}
.filterdiv input::placeholder {
  color: #ccc;
}
.filterdiv input:focus {
  border-color: #aaa;
  width: 300px;
}
 


  






@media (max-width:1600px) {
  .grid {
    width: 97%;
  }
  .addmovie {
    width: 80%;
  }
} 

@media (max-width:1200px) {
  .onemoviegrid {
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
  }
   
} 
@media (max-width:1150px) {
  nav .menu {
    display: none;
  }
  nav {
    height: 70px;
  }
} 
@media (max-width:1080px) {
  .moviepage .featureplaybtn {
    display: none;
  }
  .searchcont input {
    width: 80%;
  }
  .addmovie {
    width: 90%; 
  }
}
@media (max-width:900px) {
  .menuslide {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  }
  .menuslide > a:last-child {
    margin-bottom: 70px;
  }
}
@media (max-width:700px) {
  .onemoviegrid {
    grid-template-columns: 1fr;
  }
  .onemoviegrid > div {
    margin: 30px auto;
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .feature .featdescript {
    width: 90%;
  }
}
@media (max-width: 450px) {
  nav .addmoviebtn {
    margin-right: 20px;
  }
  nav .navsearch {
    width: 120px;
  }
  nav .navsearch:focus {
    width: 120px;
  }

}
/*Max Heights */
@media (max-height: 850px) {
  .addmovie {
    height: 80vh;
  }
}
@media (max-height: 650px) {
  .addmovie {
    height: 90vh;
  }
} 
